<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Lab123"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".Lab1.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Lab1.MainActivity1"
            android:exported="true" />
        <activity
            android:name=".Lab1.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".Lab1.MainActivity3"
            android:exported="true" />
        <activity
            android:name=".Lab2.MainActivity_Lab2_1"
            android:exported="true" />
        <activity
            android:name=".Lab2.MainActivity_Lab2_2"
            android:exported="true" />
        <activity
            android:name=".Lab2.MainActivity_Lab2_3"
            android:exported="true" />
        <activity
            android:name=".Lab2.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Lab2.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Lab3.MainActivity_Lab3_1"
            android:exported="true" />
        <activity
            android:name=".Lab3.MainActivity_Lab3_2"
            android:exported="true" />
        <activity
            android:name=".Lab3.MainActivity_Lab3_3"
            android:exported="true" />
        <activity
            android:name=".Lab4.MainActivity_Lab4"
            android:exported="true" />
        <activity
            android:name=".Lab4.FoodActivity"
            android:exported="true" />
        <activity
            android:name=".Lab4.DrinkActivity"
            android:exported="true" />
        <activity
            android:name=".Lab5.Ex1.MainActivity_Lab5_1"
            android:exported="true" />
        <activity
            android:name=".Lab5.Ex2.MainActivity_Lab5_2"
            android:exported="true" />
        <activity
            android:name=".Main"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name=".Lab4.MainActivity_Lab4"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.MyApplication">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".Lab4.FoodActivity"-->
<!--            android:exported="true" />-->

<!--        <activity-->
<!--            android:name=".Lab4.DrinkActivity"-->
<!--            android:exported="true" />-->


<!--        <activity-->
<!--            android:name=".Lab5.Ex2.MainActivity_Lab5_2"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

    </application>

</manifest>